<div class="container">
  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todosList">
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>
            <button class="btn btn-link text-primary" (click)="editTodos(todo)">
              Edit
            </button>
          </td>
          <td>
            <button
              class="btn btn-link text-danger"
              (click)="delTodos(todo.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button class="btn btn-success" (click)="createTodos()">
        Create Todos
      </button>
    </div>
  </div>
</div>
